<!DOCTYPE html>
<html>
<head>
  <title>Ticketing system</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <script type="text/javascript" src="../lib/angular/angular.js"></script>
  <script type="text/javascript" src="../lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="../lib/ngstorage/ngStorage.js"></script>
  <script type="text/javascript" src="../lib/angular-jwt/dist/angular-jwt.js"></script>
	<script type="text/javascript" src="utils/authentication.js"></script>
	<script type="text/javascript" src="users/userResource.js"></script>
	<script type="text/javascript" src="users/user.js"></script>
  <script type="text/javascript" src="projects/projectResource.js"></script>
  <script type="text/javascript" src="projects/project.js"></script>
	<script type="text/javascript" src="tasks/taskResource.js"></script>
  <script type="text/javascript" src="tasks/task.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>


<body ng-app="app">
  <div id="page">
    <div id="header">
      <div class="inner clearfix">
        <div class="logo">
          <a ui-sref="main"><img src="images/logo.png" /></a>
        </div>  


        <div class="nav" ng-if="isLoggedIn()">
          <ul class="clearfix">
            <li><a ui-sref="main">Projekti</a></li>
            <li><a ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ui-sref="createProject">Kreiraj projekat</a></li>
          </ul>
        </div>
        
        
        <div class="btns" ng-if="isLoggedIn()">
          <ul class="clearfix">
            <li class="logout"><a ng-click="logout()">Odjava</a></li>
          </ul>        
        </div>
      </div>
    </div>
		
		<div class="btns" ng-if="!isLoggedIn()&&getCurrentState()!=='login'&&getCurrentState()!=='registration'">    
			<a class="btn" ui-sref="login">PRIJAVA</a>
		</div>

    <div id="cnt" ng-if="isLoggedIn()||!isLoggedIn()&&(getCurrentState()=='login'||getCurrentState()=='registration')" ui-view>
			
    </div>


    <div id="footer">
      <div class="inner">
        <div class="copyright">&copy; Copyright 2016. All Rights Reserved.</div>
        <div class="credits"><a>Created by Dragana Nestorov, Stefan Ćosić, Ognjen Ćosić, Nikola Mandić</a></div>
      </div>  
    </div>
  </div>
</body>
</html>

