<section id="sec2" >
	<div class="inner">
		<h1>Korisnici</h1>
		<!--<ul >
			<li ng-repeat="user in users">{{ user.first_name + " " + user.last_name }} <a class="btn" ng-click="addUser(user)">Dodaj korisnika</a></li>			
		</ul>-->
		
		<form class="tsForm" ng-submit="addUser()" ng-if="users && users.length>0">
			<div class="field user" ng-repeat="user in users">				
				<input type="checkbox" name="users[]" value="{{ user._id }}" ng-model="selected[user._id]">
				<label>{{ user.first_name + " " + user.last_name }}</label>
			</div>
			<div class="btns">    
				<button class="btn">SAČUVAJ</button>
			</div>
		</form>
	</div>
</section>