<section>
	<h1>{{ project.name }}</h1>
	<ul class="tsList">
		<li>
			<span class="property">Oznaka:</span>
			<span class="value">{{ project.label }}</span>
		</li>
		<li>
			<span class="property">Opis:</span>
			<span class="value">{{ project.description }}</span>
		</li>
	</ul>
	
	<div class="btns">
		<a class="btn" ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ui-sref="addUsers({id : project._id})">Dodaj člana tima</a>
		<a class="btn" ui-sref="createTask({id : project._id})">Kreiraj zadatak</a>
	</div>
</section>
		
<section ng-if="project.team && project.team.length>0" ng-include="'users/team.html'">
	
</section>
		
<section ng-if="project.tasks && project.tasks.length>0" ng-include="'tasks/tasks.html'">
	
</section>