<section ng-if="getCurrentState()=='main'">
	<h1>Zadaci</h1>
	<form name="tsForm "class="tsForm filter" ng-submit="filterFunc()">
		<div class="field">
			<label>Status</label>
			<div class="input">
				<select name="task_status" ng-model="filter.status">
					<option value="">Svi</option>
					<option value="To Do">To Do</option>
					<option value="In Progress">In Progress</option>
					<option value="Verify">Verify</option>
					<option value="Done">Done</option>
				</select>
			</div>
		</div>
		
		<div class="field">
			<label>Prioritet</label>
			<div class="input">
				<select name="task_priority" ng-model="filter.priority">
					<option value="">Svi</option>
					<option value="Blocker">Blocker</option>
					<option value="Critical">Critical</option>
					<option value="Major">Major</option>
					<option value="Minor">Minor</option>
					<option value="Trivial">Trivial</option>
				</select>
			</div>
		</div>
		
		<div class="btns">    
			<button class="btn">FILTRIRAJ</button>
		</div>
	</form>
</section>
<h2 class="taskHeading" ng-if="getCurrentState()!='main'">
	<span ng-if="showTasks===false">+</span>
	<span ng-if="showTasks!==false">-</span>
	<a ng-click="showTaskFunc()">Zadaci</a>
</h2>
<table class="tsTable" ng-show="showTasks">
	<thead>
		<tr>
			<td class="label"><a ng-click="orderBy='task_label'">Oznaka</a></td>
			<td class="name">Naziv</td>
			<td class="description">Opis</td>
			<td class="author">autor</td>
			<td class="assignedTo">dodeljeno</td>
			<td class="status"><a ng-click="orderBy='task_status'">status<a></td>
			<td class="priority"><a ng-click="orderBy='task_priority'">prioritet</a></td>
			<td class="actions"></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="task in project.tasks | orderBy:orderBy">
			<td>{{ task.task_label }}</td>
			<td>{{ task.task_name }}</td>
			<td>{{ task.task_description }}</td>
			<td>{{ task.author.first_name + ' ' + task.author.last_name }}</td>
			<td>{{ task.assignedTo.first_name + ' ' + task.assignedTo.last_name }}</td>
			<td>{{ task.task_status }}</td>
			<td>{{ task.task_priority }}</td>
			<td class="actions" ng-if="getCurrentState()!='main'">
				<a ui-sref="task({id : project._id, task_id : task._id})">Detalji</a>
				<a ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ng-click="deleteTask(project._id, task._id)">Izbriši</a>
				<a ui-sref="editTask({id: project._id, task_id : task._id})">Izmeni</a>
			</td>
			<td class="actions" ng-if="getCurrentState()=='main'">
				<a ui-sref="task({id : task.proj_id, task_id : task._id})">Detalji</a>
				<a ng-if="getCurrentUserRole()&&getCurrentUserRole()=='admin'" ng-click="deleteTask(task.proj_id, task._id)">Izbriši</a>
				<a ui-sref="editTask({id: task.proj_id, task_id : task._id})">Izmeni</a>
			</td>
		</tr>
	</tbody>
</table>