<section>
	<h1>Registracija</h1>
	<form name="tsForm" class="tsForm" ng-submit="createUser()">
		<div class="field">
			<label>Ime</label>
			<div class="input">
				<input type="text" name="first_name" ng-model="user.first_name" required />
				<span ng-show="tsForm.first_name.$touched && tsForm.first_name.$invalid">Ime je obavezno polje.</span>
			</div>
		</div>
		
		<div class="field">
			<label>Prezime</label>
			<div class="input">
				<input type="text" name="last_name" ng-model="user.last_name" required />
				<span ng-show="tsForm.last_name.$touched && tsForm.last_name.$invalid">Prezime je obavezno polje.</span>
			</div>
		</div> 
		
		<div class="field">
			<label>E-Mail</label>
			<div class="input">
				<input type="text" name="email" ng-model="user.email" required />
				<span ng-show="tsForm.email.$touched && tsForm.email.$invalid">E-mail je obavezno polje.</span>
			</div>
		</div>
		
		<div class="field">
			<label>Šifra</label>
			<div class="input">
				<input type="password" name="password" ng-model="user.password" required />
				<span ng-show="tsForm.password.$touched && tsForm.password.$invalid">Šifra je obavezno polje.</span>
			</div>
		</div>

		<div class="btns">    
			<button class="btn">SAČUVAJ</button>
		</div>
	</form>
</section>